{% extends '_template.html' %}
{% from "_formhelpers.html" import render_errors %}
{% block content %}

<div class="container p-4">
    <h3 class="text-4xl font-semibold text-gray-800">Producte {{ product_id }}</h3>

    <form action="/products/update/{{ product_id }}" method="POST" enctype="multipart/form-data" class="mt-4">
        {{ form.csrf_token }}
        <div class="mb-4">
            <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Nom:</label>
            {{ form.title(class="border rounded w-full py-2 px-3") }}
        </div>

        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Descripció:</label>
            {{ form.description(class="border rounded w-full py-2 px-3") }}
        </div>

        <div class="mb-4">
            <label for="photo_file" class="block text-gray-700 text-sm font-bold mb-2">Foto:</label>
            {{ form.photo_file(class="border rounded w-full py-2 px-3") }}
        </div>

        <div class="mb-4">
            <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Preu:</label>
            {{ form.price(class="border rounded w-full py-2 px-3") }}
        </div>

        <div class="mb-4">
            <label for="category_id" class="block text-gray-700 text-sm font-bold mb-2">Categoria:</label>
            {{ form.category_id(class="border rounded w-full py-2 px-3") }}
        </div>

        <p>
            {{ form.submit(class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded") }}
        </p>

        {{ render_errors(form) }}
    </form>

    <a href="/products/lista" class="mt-4 inline-block bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"> Tornar al llistat de productes</a>
</div>

{% endblock %}
